<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To ChatGpt To Pdf</h1>
    <input type="text" id="chatLink" placeholder="Paste Your Chat Link Here">
    <button id="G-Pdf">Generate Pdf</button>
    <a id="DownloadLink" style="display: none;"></a>
    <script>
        
    </script>
</body>
</html>